
<div class="profile-popup">
  <div class="user-info">
    <a href="<%=%>">
    <% if user.photo.present? %>
         <%= cl_image_tag user.photo.key, class: "user-photo", alt: "User Profile" %>
      <% end %>
        <h2 class="user-name"><%= user.first_name %></h2>
      </a>
  </div>
  <div class="book-info">
    <%= cl_image_tag user.books.first.photo.key, class: "book-image", crop: :fill %>
      <div class="book-description">
        <p class="book-description-text">Short Book description goes here.</p>
  </div>
  <div class="popup-footer">
    <%= link_to "Rent the Book", book_temps_path, class: "rent-button" %>
  </div>
</div>
