<% book = user.books.find_by(currently_reading: true) %>
<div class="profile-popup">
  <div class="user-info">
    <a href="<%= %>">
    <% if user.photo.present? %>
         <%= cl_image_tag user.photo.key, class: "user-photo", alt: "User Profile" %>
      <% end %>
        <h2 class="user-name"><%= user.first_name %></h2>
      </a>
  </div>
  <div class="book-info">
  <div class="book-info">
  <div>
  <% if book.present? %>
    <%= link_to book_temp_path(book.book_temp_id) do %>
      <%= cl_image_tag book.photo.key, class: "book-image", crop: :fill %>
      <div class="text-overlay top-right">Review</div>
      <div class="text-overlay bottom-right">Learn more</div>
    <% end %>
  </div>
    <div class="book-description">
      <p class="book-description-text"><%= truncate(book.description, length: 50, separator: ' ', omission: '...') %></p>
    </div>
  </div>
    <div class="popup-footer">
    <%= link_to "Rent the Book", new_book_drop_path(book), class: "rent-button" %>
  </div>
  <% end %>
</div>
