
<div class="profile-popup">
  <div class="user-info">
    <a href="<%=%>">
         <%= image_tag("georg.jpeg", class: "user-photo", alt: "User Profile") %>
        <h2 class="user-name"><%= user.first_name %></h2>
      </a>
  </div>
  <div class="book-info">
    <%= link_to image_tag("never-ken-follett.png", class: "book-image", alt: "Book Image"), book_temps_path %>
      <div class="book-description">
        <p class="book-description-text">Short Book description goes here.</p>
  </div>
  <div class="popup-footer">
    <%= link_to "Rent the Book", book_temps_path, class: "rent-button" %>
  </div>
</div>
