<div class=" pb-5">
          <% unless @booking_requests.empty? %>
      <h2 class="heading-dashboard">Your booking requests from other people</h2>
        <ul>
          <% @booking_requests.each do |booking_request| %>
              <% if booking_request.status == nil %>
                <p><%= link_to booking_request.user.first_name, user_path(booking_request.user) %> asks for </p>
                <div class="image">
                  <%= cl_image_tag booking_request.book.photo.key, height: 280, width: 180, crop: :fill %>
                  <%= link_to decline_drop_path(booking_request), data: { "turbo-method": :patch }, class: "btn-delete" do %>
                    <i class="fas fa-times-circle red" title="Decline"></i>
                  <% end %>
                  <%= link_to accept_drop_path(booking_request), data: { "turbo-method": :patch }, class: "btn-accept" do %>
                    <i class="fas fa-check-circle green" title="Accepted"></i>
                  <% end %>
                </div>
                  <%# <%= link_to "Accept", accept_drop_path(booking_request),data: {"turbo-method": :patch}, class: "btn btn-black" %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </ul>
        <br>
      </div>
