<div class="container">
  <% if user_signed_in? %>
    <h1>Welcome to the dashboard, <%= current_user.first_name %>!</h1>
        <p><%= link_to "Update your shelves, what are you reading?", search_path, class: "btn btn-green" %></p>



      <%= render "currentlyreading" %>

      <%= render "haveread" %>

    <h2 class="heading-dashboard">Your booking requests</h2>

    <%= render "bookingrequest" %>


    <h2 class="heading-dashboard">Your booking requests from other people</h2>
     <%= render "requestsfromotherpeople" %>


<%else%>
<p>To see the dashboard you need to be signed in!</p>
<%= button_to "Log in", user_session_path, method: :get, class: "btn btn-black" %>
<%end%>
