<div class="container"><% if user_signed_in? %>

    <h1>Welcome to the dashboard, <%= current_user.first_name %>!</h1>
    <div class="main div">
      <h2 class="heading-dashboard">You are currently reading:</h2>
      <div class="d-flex">
        <div class="user-info d-flex">
        <% unless @books.empty? %>
          <% @books.each do |book| %>
            <div class = "card-book">
              <% unless book.currently_reading %>
                <div class="btn btn-green" data-controller="checkbox" data-checkbox-id-value="<%=book.id%>">
                <%= button_tag "Currently Reading", data: { action: "click->checkbox#update" }, class: "btn btn-green"%>
                </div>
              <% else %>
                <%= simple_form_for(book, data: { controller: "checkbox" }, url: not_reading_book_path(book)) do |f| %>
                  <%= f.input :currently_reading, as: :boolean, input_html: { data: { action: "change->checkbox#submit" } }, label: "Undo" %>
                  <%= f.button :submit, class: "d-none" %>
                <% end %>
                <%= simple_form_for(book, data: { controller: "checkbox" }, url: have_read_book_path(book)) do |f| %>
                  <%= f.input :have_read, as: :boolean, input_html: { data: { action: "change->checkbox#submit" } } %>
                  <%= f.button :submit, class: "d-none" %>
                <% end %>
              <% end %>
                <div class ="picture">
                  <%= cl_image_tag book.photo.key, height: 280, width: 180, crop: :fill %>
                </div>
                <div class="text">
                  <p><%= book.title %><br>by <%= book.author %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  <br>

   <div class="main div">
  <h2 class="heading-dashboard">Books you have read</h2>
    <div class="d-flex">
      <% unless @read_books.empty? %>
      <div class = "card-book">
        <% @read_books.each do |book| %>
        <div class="btn btn-green">
            <%= simple_form_for(book, data: { controller: "checkbox" }, url: unread_book_path(book)) do |f| %>
              <%= f.input :have_read, as: :boolean, input_html: { data: { action: "change->checkbox#submit" } }, label: "Undo" %>
              <%= f.button :submit, class: "d-none" %>
                </div>
            <% end %>
              <div class="user-info d-flex">
                <div class ="picture">
                 <%= cl_image_tag book.photo.key, height: 280, width: 180, crop: :fill %>
                  </div>
                  <div class="text">
                    <p><%= book.title %> by <%= book.author %></p>
                  </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  <br>

      <div class="main div">
    <h2 class="heading-dashboard">Droppable books</h2>
    <div class="d-flex">
      <% unless @droppable_books.empty? %>
      <% @droppable_books.each do |book| %>
      <div class="card-book">
        <div class="btn btn-green">
          <%= simple_form_for(book, data: { controller: "checkbox" }, url: unread_book_path(book)) do |f| %>
            <%= f.input :have_read, as: :boolean, input_html: { data: { action: "change->checkbox#submit" } }, label: "Undo" %>
            <%= f.button :submit, class: "d-none" %>
          <% end %>
        </div>
        <div class="user-info d-flex">
          <div class="picture">
            <%= cl_image_tag book.photo.key, height: 280, width: 180, crop: :fill %>
          </div>
          <div class="text">
            <p><%= book.title %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <h2 class="heading-dashboard">Your booking requests</h2>
    <div class="books-container">
      <% unless @drops.empty? %>
        <% @drops.each do |drop| %>
          <div>
          <div class="image">
            <%= cl_image_tag drop.book.photo.key, height: 280, width: 180, crop: :fill %>
            <% if drop.status.nil? %>
              <i class="fas fa-question-circle yellow" title="Pending"></i>
            <% elsif drop.status == true %>
              <i class="fas fa-check-circle green" title="Accepted"></i>
            <% else %>
              <i class="fas fa-times-circle red" title="Declined"></i>
            <% end %>
          <%= link_to delete_drop_path(drop), data: { "turbo-method": :patch }, class: "btn-delete" do %>
            <i class="fa-solid fa-trash" style="color: #d11515;" title= "Delete"></i>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2 class="heading-dashboard">Your booking requests from other people</h2>
      <div class="books-container">
        <ul>
          <% unless @booking_requests.empty? %>
          <p>Accept or decline</p>
          <% @booking_requests.each do |booking_request| %>
              <% if booking_request.status == nil %>
                <p><%= link_to booking_request.user.first_name, user_path(booking_request.user), class: "btn btn-black" %> asks for </p>
                <div class="image">
                  <%= cl_image_tag booking_request.book.photo.key, height: 280, width: 180, crop: :fill %>
                  <%= link_to decline_drop_path(booking_request), data: { "turbo-method": :patch }, class: "btn-delete" do %>
                    <i class="fas fa-times-circle red" title="Decline"></i>
                  <% end %>
                  <%= link_to accept_drop_path(booking_request), data: { "turbo-method": :patch }, class: "btn-accept" do %>
                    <i class="fas fa-check-circle green" title="Accepted"></i>
                  <% end %>
                </div>
                  <%# <%= link_to "Accept", accept_drop_path(booking_request),data: {"turbo-method": :patch}, class: "btn btn-black" %>
              <% end %>
            <% end %>
          <% else %>
          <p> No booking request available!</p>
          <% end %>
        </ul>
        <br>
      </div>


  </div>
<%else%>
<p>To see the dashboard you need to be signed in!</p>
<%= button_to "Log in", user_session_path, method: :get, class: "btn btn-black" %>
<%end%>
