<div class="container">
  <% if user_signed_in? %>
    <h1>Welcome to the dashboard, <%= current_user.first_name %>!</h1>
    <div class="main div">
      <h2 class="heading-dashboard">My books</h2>
      <div class="d-flex">
        <div class="user-info d-flex">
          <% unless @books.empty? %>
            <%= render "carousel", books: @books %>
          <% end %>
          <br>
          <div class="main div">
            <h2 class="heading-dashboard">Books you have read</h2>
            <div class="d-flex">
              <% unless @read_books.empty? %>
                <%= render "carousel", books: @read_books %>
              <% end %>
            </div>
            <br>
            <div class="main div">
              <h2 class="heading-dashboard">Droppable books</h2>
              <div class="d-flex">
                <% unless @droppable_books.empty? %>
                  <%= render "carousel", books: @droppable_books %>
                <% end %>
              </div>
              <h2 class="heading-dashboard">Your booking requests</h2>
              <div class="books-container">
                <ul>
                  <% unless @drops.empty? %>
                    <% @drops.each do |drop| %>
                      <div class="image">
                        <%= cl_image_tag drop.book.photo.key, height: 280, width: 180, crop: :fill %>
                      </div>
                      <%= link_to "Delete", decline_drop_path(drop),data: {"turbo-method": :patch}, class: "btn btn-black" %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <h2 class="heading-dashboard">Your booking requests from other people</h2>
              <div class="books-container">
                <ul>
                  <% unless @booking_requests.empty? %>
                    <%= render "carousel", books: @booking_request%>
                    <p>Accept or decline</p>
                    <% @booking_requests.each do |booking_request| %>
                      <% unless booking_request.status %>
                        <p><%= link_to booking_request.user.first_name, user_path(booking_request.user), class: "btn btn-black" %> asks for </p>
                        <div class="image">
                          <%= cl_image_tag booking_request.book.photo.key, height: 280, width: 180, crop: :fill %>
                        </div>
                        <%= link_to "Accept", accept_drop_path(booking_request),data: {"turbo-method": :patch}, class: "btn btn-black" %>
                        <%= link_to "Decline", decline_drop_path(booking_request),data: {"turbo-method": :patch}, class: "btn btn-black" %>
                      <% end %>
                    <% end %>
                    <p> No booking request available!</p>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p>To see the dashboard you need to be signed in!</p>
        <%= button_to "Log in", user_session_path, method: :get, class: "btn btn-black" %>
      <% end %>
    </div>
</div>
