<h1>New Book</h1>
<!--
<%= form_with(model: @book, url: books_path, local: true, html: { id: 'new_book_form' }) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', id: 'book_title' %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control', id: 'book_author' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', id: 'book_description' %>
  </div>

  <div class="form-group">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, class: 'form-control', id: 'book_isbn' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
-->
