<div class = "container">
<h1><%= @book.title %></h1>
<br>
<div class="d-flex mb-3">
  <div>
    <% if @book.photo.attached? %>
      <%= cl_image_tag @book.photo.key, height: 350, width: 250, crop: :fill %>
    <% else %>
      <%= image_tag "missing-image", height: 350, width: 250, crop: :fill  %>
    <% end %>
    <div class="pb-5">
      <%= link_to "Search again", search_path, class: "btn-green text-decoration-none " %>
    </div>
  </div>
  <div>
    <%= @book.description %>
    <br>
    <div>
    <br>
      <h2>All the reviews</h2>
    <br>
      <% if @book_temp.reviews.blank? %>
        Be the first to leave a review for <%= @book.title %>
      <% else %>
        <% @book_temp.reviews.each do |review| %>
          <p> <strong>Content:</strong> <%= review.content %>
              <strong>Rating:</strong> <%= review.rating %>
              <strong>User:</strong> <%= review.user.first_name %>
              <% if current_user == review.user %>
                <%= link_to delete_review_path(review), data: { "turbo-method": :patch } do %>
                  <i class="fa-solid fa-trash" style="color: #d11515;" title= "Delete"></i>
                <% end %>
              <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
    <%= simple_form_for([@book_temp, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-green" %>
    <% end %>
  </div>
</div>
<br>
<br>
