<!DOCTYPE html>
<html>
  <head>
    <title>Binder</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686652149/binder/b_wf7dl0.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--google fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Days+One&family=League+Spartan:wght@100;300;400;600&family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
</head>

  <body>
  <% if flash[:notice] %>
    <div class="col-12 container">
      <div class="alert bg-success mb-4 py-3 alert-p" role="notice" id="booking-alert">
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
              <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
            <div class="px-3">
              <h5 class="alert-heading"><%= notice %></h5><% extra = extra || nil %>
              <%= extra if extra %>
              <a href="#" class="btn text-white" data-abc="true" id="dismiss-alert">Dismiss</a>
              <a href="<%= dashboard_path(clicked_continue: true) %>" class="btn btn-white mx-1" data-abc="true">
                  Continue
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                  </svg>
              </a>
            </div>
        </div>
      </div>
    </div>
  <% end %>
      <%= render "pages/navbar" %>
      <%= yield %>
  </div>
    <%= render "pages/footer" %>
    <script>
  // Hide the alert when the "Dismiss" button is clicked
  document.getElementById("dismiss-alert").addEventListener("click", function() {
    document.getElementById("booking-alert").style.display = "none";
  });
  //Hide the alert after 10 seconds
  setTimeout(function() {
    document.getElementById("booking-alert").style.display = "none";
  }, 10000);
</script>
  </body>
</html>
